@import url("https://fonts.googleapis.com/css?family=Reenie Beanie&display=swap");

body {
  background-image: url("cork board.jpeg");
}

.text {
  font-family: "Reenie Beanie";
  font-size: 3em;
}

.task {
  text-align: center;
  width: 275px;
  margin: 20px;
  min-height: 250px;
  max-height: 250px;
  padding-top: 35px;
  position: relative;
  border: 1px solid #e8e8e8;

  border-bottom-right-radius: 60px 5px;
  display: inline-block;
  background: #ffff88;
  transform: rotate(6deg);
  margin-top: 50px;
  margin-bottom: 40px;
}

#listContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
}

.task:nth-child(2n) {
  transform: rotate(-3deg);
  top: 5px;
  background: #cfc;
}

.task:nth-child(3n) {
  transform: rotate(4deg);
  top: -5px;
  background: #ccf;
}

.task:hover,
.task:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.25);
  z-index: 5;
}
