@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

body {
  background-image: url("cork board.jpeg");
}

header {
  background-color: orange;
  position: fixed;
  left: 0;
  right: 0;
  top: 5px;
  height: 30px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}
header * {
  display: inline;
}
header li {
  margin: 20px;
}
header li a {
  color: blue;
  text-decoration: none;
}

.text {
  font-family: "Syne Mono";
  font-size: 2em;
}
.task {
  text-align: center;
  width: 275px;
  margin: 20px;
  min-height: 250px;
  max-height: 250px;
  padding-top: 35px;
  position: relative;
  border: 1px solid #e8e8e8;

  border-bottom-right-radius: 60px 5px;
  display: inline-block;
  background: #ffff88;
  transform: rotate(6deg);
  margin-top: 50px;
  margin-bottom: 40px;
}

#listContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
}

#listContainer2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
}
.task:nth-child(2n) {
  transform: rotate(-3deg);
  top: 5px;
  background: #cfc;
}

.task:nth-child(3n) {
  transform: rotate(4deg);
  top: -5px;
  background: #ccf;
}

.task:hover,
.task:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.25);
  z-index: 5;
}

#createTask {
  border: none;
  font-size: 2em;
  font-family: "Syne Mono";
  resize: none;
  background: none;
  height: 96px;
  width: 276px;
  outline: none;
  text-align: center;
}

section:target {
  display: block;
}

section {
  display: none;
  position: absolute;

  background: none;
}

#home {
  display: block;
}
